# Ignore everything
*

# Allow directories so Git can traverse paths
!*/

# IntelliJ IDEA
.idea/
*.iml

# Allow src directory
!src/**

# Allow problemsolving module
!problemsolving/
!problemsolving/gradle/**
!problemsolving/src/**
!problemsolving/*.gradle
!problemsolving/gradlew*

# Allow springboot module
!springboot/
!springboot/gradle/**
!springboot/src/**
!springboot/*.gradle
!springboot/gradlew*

# Allow .gitignore file
!.gitignore