# Ignore everything
*

# Allow directories so Git can traverse paths
!*/

# Allow src directory
!src/

# Allow only this path inside src
!src/**
!src/com/
!src/com/leetcode/
!src/com/leetcode/**
!src/producer/consumer/in/plain/java/**
!src/threads/**